
#ACircle {
  position: absolute;
  left: 30%;
  opacity: 0.5;
}

/* //transition: opacity 2s; */
/* transition: opacity .25s ease-in-out; */
/* animation: fadeOut ease 8s; */

#WCircle {
  position: absolute;
  left: 32.5%;
}

#SCircle {
  position: absolute;
  left: 35%;
}

#ECircle {
  position: absolute;
  left: 37.5%;
}

#DCircle {
  position: absolute;
  left: 40%;
}

#FCircle {
  position: absolute;
  left: 42.5%;
}

#TCircle {
  position: absolute;
  left: 45%;
}

#GCircle {
  position: absolute;
  left: 47.5%;
}
#YCircle {
  position: absolute;
  left: 50%;
}

#HCircle {
  position: absolute;
  left: 52.5%;
}

#UCircle {
  position: absolute;
  left: 55%;
}

#JCircle {
  position: absolute;
  left: 57.5%;
}

#KCircle {
  position: absolute;
  left: 60%;
}

#container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

#circleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

