.circle {
  opacity: 0.5;
  padding: 10;
  margin: 20;
  display: inline-block;
  border-radius: 50%;
  width: 140;
  height: 140;
}

.diamond {
  opacity: 0.5;
  padding: 10;
  margin-left: 40;
  display: inline-block;
  transform: rotate(45deg);
  width: 100;
  height: 100;
}

.oval {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid transparent;
  border-radius: 50%;
}

.fade-out {
  animation: fadeOut ease 7s;
  -webkit-animation: fadeOut ease 7s;
  -moz-animation: fadeOut ease 7s;
  -o-animation: fadeOut ease 7s;
  -ms-animation: fadeOut ease 7s;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
}

@keyframes fadeOut {
  0% {
    opacity:0.5;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:0.5;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:0.5;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:0.5;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:0.5;
  }
  100% {
    opacity:0;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.5;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.5;
  }
}

#ACircle {
  position: absolute;
  left: 30%;
  background-color: #E1C12A;
}

#WCircle {
  position: absolute;
  left: 32.5%;
  background-color: #F17325;
}

#SCircle {
  position: absolute;
  left: 35%;
  background-color: #F6616f
}

#ECircle {
  position: absolute;
  left: 37.5%;
  background-color: #90364F;
}

#DCircle {
  position: absolute;
  left: 40%;
  background-color: #54ABD1
}

#FCircle {
  position: absolute;
  left: 42.5%;
  background-color: #4281BD
}

#TCircle {
  position: absolute;
  left: 45%;
  background-color: #7AB44D
}

#GCircle {
  position: absolute;
  left: 47.5%;
  background-color: #F59B36
}
#YCircle {
  position: absolute;
  left: 50%;
  background-color: #E23E33
}

#HCircle {
  position: absolute;
  left: 52.5%;
  background-color: #9C3342
}

#UCircle {
  position: absolute;
  left: 55%;
  background-color: #4DA7D2
}

#JCircle {
  position: absolute;
  left: 57.5%;
  background-color: #76B149
}

#KCircle {
  position: absolute;
  left: 60%;
  background-color: #DABD26
}

#container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

.circleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

