
#ACircle {
  position: absolute;
  left: 15%;
}

#WCircle {
  position: absolute;
  left: 20%;
}

#SCircle {
  position: absolute;
  left: 25%;
}

#ECircle {
  position: absolute;
  left: 30%;
}

#DCircle {
  position: absolute;
  left: 35%;
}

#FCircle {
  position: absolute;
  left: 40%;
}

#TCircle {
  position: absolute;
  left: 45%;
}

#GCircle {
  position: absolute;
  left: 50%;
}
#YCircle {
  position: absolute;
  left: 55%;
}

#HCircle {
  position: absolute;
  left: 60%;
}

#UCircle {
  position: absolute;
  left: 65%;
}

#JCircle {
  position: absolute;
  left: 70%;
}

#KCircle {
  position: absolute;
  left: 75%;
}

#container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

#circleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

