#ACircle {
  position: absolute;
  left: 530px;
  top: 260px;
  opacity: 1;
  transition: opacity 0.3 ease-in-out;
}

#WCircle {
  position: absolute;
  left: 550px;
  top: 260px;
}

#SCircle {
  position: absolute;
  left: 570px;
  top: 260px;
}
#ECircle {
  position: absolute;
  left: 570px;
  top: 260px;
}

#DCircle {
  position: absolute;
  left: 580px;
  top: 260px;
}

#FCircle {
  position: absolute;
  left: 590px;
  top: 260px;
}

#TCircle {
  position: absolute;
  left: 600px;
  top: 260px;
}

#GCircle {
  position: absolute;
  left: 610px;
  top: 260px;
}
#YCircle {
  position: absolute;
  left: 620px;
  top: 260px;
}

#HCircle {
  position: absolute;
  left: 630px;
  top: 260px;
}

#UCircle {
  position: absolute;
  left: 640px;
  top: 260px;
}

#JCircle {
  position: absolute;
  left: 650px;
  top: 260px;
}

#KCircle {
  position: absolute;
  left: 660px;
  top: 260px;
}

#container {
  width: 100%;
  height: 100%;
  background-color: black;
}

#circleContainer {
  display: flex;
  justify-content: center;
  background-color: black;
}


/* position: fixed;
top: 50%;
left: 50%; */


/* #myLogo {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3 ease-in-out;
}
#myLogo.fade {
  opacity:0;
} */